@import "tailwindcss";

/* @theme {
  --color-primary-50: #faf4ff;
  --color-primary-600: #931cf5;
  --color-primary-700: #ab6ec7;
  --color-primary-800: #7019b0;
  --color-primary-900: #4a4063;

  --color-light-50: #ffffff;
  --color-light-100: #f4f6f8;
  --color-light-150: #fdfdfd;
  --color-light-200: #dce3f1;
  --color-light-400: #7b8ec8;
  --color-light-500: #858ead;

  --color-dark-800: #0f1117;
  --color-dark-900: #000000;
} */